@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FontDisplay';
    src: url('/public/fonts/ClashDisplay-Medium.woff') format('woff'),
         url('/public/fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}